# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Vector Database
.chromadb/
chroma_db/
vectorstore/

# Uploaded Papers
data/papers/

# Local Memory / Storage
memory/
*.sqlite3

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db